<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="/css/style.css" rel="stylesheet" media="all" type="text/css"> 
        <title>Compte</title>
    </head>
   <body>
    	<p>
          Bienvenue <%= pseudo %>.
      </p>
      <p>
          Ici tu peux:
            <ul>
                <li><a href="/">Retourner à l'acceuil.</a></li>
                <li><a href="/article/666">Lire l'article 666</a></li>
                <li><a href="/42">Découvrir le sens de la vie.</a></li>
                <li><a href="/test">Aller sur une page qui sert à rien.</a></li>
            </ul>
      </p>
    </body>
</html>