<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="/css/style.css" rel="stylesheet" media="all" type="text/css"> 
        <title>Article <%= nbarticle %></title>
    </head>
   <body>
    	<p>Vous êtes en train de lire l'article n°<%= nbarticle %>.</p>
    </body>
</html>