<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="/css/style.css" rel="stylesheet" media="all" type="text/css"> 
        <title>Login</title>
    </head>
   <body>
    	<form method="post" action="/overwatch">
   			<p>Platforme: <input type="text" name="platform" /></p>
   			<p>Région: <input type="text" name="region" /></p>
        <p>Battle tag: <input type="tetx" name="tag" /></p>
   			<input type="submit" value="Valider" />
		</form>
    </body>
</html>