<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
       <link rel="stylesheet" type="text/css" href="/css/style.css" media="all"/>
        <title>Acceuil</title>
    </head>
   <body>
    	<p>
    		Bienvenue sur mon super site!
    		<a href='/article/42'>Lire l'article 42!</a><br />
    		<a href='/login'>La page de connexion qui sert à rien juste pour montrer que mon serveur fonctionne lol.</a>
    	</p>
    </body>
</html>