body{
	color:black;
	margin: 0;
	padding: 0;
	background: url(IMAGE/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#header{
    background: linear-gradient(to right, #394f81, #0c78b1, #394f81);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: solid;
    border-color: #ffffff;

}
#button{
	float: right;
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-weight: normal;
	border-right: solid;
	border-left: solid;
	border-color:  white;
	font-size: 25px;
	text-decoration-color: white;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: "Big Noodle Too", impact, sans-serif;
}

#button2{
	float: right;
	width: 24%;
	height: 50px;
	font-weight: normal;
	font-family: "Big Noodle Too", impact, sans-serif;
	font-size: larger;
	justify-content: space-between;
	margin: 10px 10px auto;
	border: solid;
	border-color: #6a5298;
}
#titre{
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}

#blurred{
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding-top: 300px;
}
#bandeau{

background-color: #9a83c5;
border-radius: 10px;
border : solid;
border-color: #6a5298;
text-align: center;
width: 90%;
height: 80px;
line-height: 80px;
z-index: 99999999999999999;
margin: 0 auto;
font-family: "Big Noodle Too", impact, sans-serif;
font-size: -webkit-xxx-large;
color: white;
-webkit-text-stroke: 1.5px #6a5298;
text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#icone{
	border-radius: 50%;
	color: black;
	border:solid;
	background-color: black;
	border-color: #44385a;
	width: 200px;
	height: 200px;
	float: right;
	margin-right: 3%;
	margin-bottom: 3%;
}
#container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.inputs {
	float: right;
	margin-right: 20px;
}
.inputs2 input {
	font-family: "Big Noodle Too", impact;
	font-size: 20px;
	border: solid;
	border-color: #6a5298;
	width: 69%;
	margin: 10px 0px 0px 10px;
	height: 50px;
}
.inscription {
    background: linear-gradient(#ff9500, #ff5500);
}
.inscription:hover {
    background: linear-gradient(#6a5298, #1d0b3d);
}
.connexion {
    background: linear-gradient(#53efd9, #0e7aad);
}
.connexion:hover {
    background: linear-gradient(#6a5298, #1d0b3d);
}
.inputs input {
	font-family: "Big Noodle Too", impact;
	font-size: 20px;
	border: solid;
	border-color: white;
	vertical-align: middle;
}

.backvideo{
	width: 95%;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -1;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
}



.content {
	background: red;
	height: auto;
}

.w-25 {
	width: 29%;
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
}

.w-75 {
	width: 69%;
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
}
.filtre{
text-align: center;
margin: 0 auto;
font-family: "Big Noodle Too", impact, sans-serif;
font-size: 45px;
color: white;
-webkit-text-stroke: 1.5px #6a5298;
text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}