body{
	color:black;
	margin: 0;
	padding: 0;
	background: url(IMAGE/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#header{
    background: linear-gradient(to right, #394f81, #0c78b1, #394f81);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;

}
.button{
	float: right;
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-weight: normal;
	font-size: 25px;
	font-family: "Big Noodle Too", impact, sans-serif;
}
#button2{
	float: right;
	width: 24%;
	height: 37px;
	font-weight: normal;
	font-family: "Big Noodle Too", impact, sans-serif;
	font-size: larger;
	justify-content: space-between;
	margin: 10px 10px auto;
}
#titre{
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}

#blurred{
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding-top: 300px;
}
#bandeau{
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
	display: block;
	text-align: center;
	width: 100%;
	height: 80px;
	line-height: 80px;
	z-index: 99999999999999999;
	margin: 20px auto;
	font-family: "Big Noodle Too", impact, sans-serif;
	font-size: -webkit-xxx-large;
	color: white;
	-webkit-text-stroke: 1.5px #6a5298;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#container {
    display: block;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
}

.content {
	width: 100%;
	background: red;
	height: auto;
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
	display: block;
	margin: 20px auto;
}

#icone{
	border-radius: 50%;
	color: black;
	border:solid;
	background-color: black;
	border-color: #44385a;
	width: 200px;
	height: 200px;
	float: right;
	margin-right: 3%;
	margin-bottom: 3%;
}

.inputs {
	float: right;
	margin-right: 20px;
}

.inputs2 input {
	font-family: "Big Noodle Too", impact;
	font-size: 20px;
	border: solid;
	border-color: white;
	width: 69%;
	margin: 10px 0px 0px 10px;
	height: 35px;
}

.inscription {
    background: linear-gradient(#ff9500, #ff5500);
}

.connexion {
    background: linear-gradient(#53efd9, #0e7aad);
}

.inputs input {
	font-family: "Big Noodle Too", impact;
	font-size: 20px;
	border: solid;
	border-color: white;
}

.w-25 {
	width: 29%;
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
}

.w-75 {
	width: 69%;
	background-color: #9a83c5;
	border-radius: 10px;
	border : solid;
	border-color: #6a5298;
}
.filtre{
	text-align: center;
	margin: 0 auto;
	font-family: "Big Noodle Too", impact, sans-serif;
	font-size: 45px;
	color: white;
	-webkit-text-stroke: 1.5px #6a5298;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}