<div class="ww noir">
				<div class="inputs5 fro ">
					<div class="fa fri fro">
						<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b1/PI_Diablo_Crusader.png?version=75fe894b14e8f1be852d17e85815b111 1.5x" class="econa fdeux">
						<input type="text" class="fun rac" name="pseudo" placeholder="Pseudo">
					</div>
					<input type="text" class="fun" name="mail" placeholder="Mail">
					<input type="password" class="fun" name="password" placeholder="Password">
					<input type="password" class="fun" name="confirPassword" placeholder="Confirm Password">
					
					<input type="text" class="ftrois" name="mail" placeholder="BATTLE TAG: pseudo#1234">

				</div>

				<div class="grid  rac gragra marginG "><a href="..." class="wxa " type="submit">ENREGISTRER</a>
				</div>


				

			</div>