<html><head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <link href="../static/IMAGE/icone.ico" rel="shortcut icon">
		<title>OVERTEAM</title>
	</head>
	
	<body>

		
		<div id="header">
			
				<a id="button" href="/inscription" class="inscription" type="submit">INSCRIS TOI !</a>

				<a id="button" href="/login" class="connexion" type="submit">CONNEXION !</a>

				<div class="inputs">
					<input type="text" name="login" placeholder="Login">
					<input type="password" name="password" placeholder="Password">
				</div>
			
		</div>
		
		<div>
			<div id="titre"><img src="static/IMAGE/titre.png"></div>

			<div id="blurred">
				<video class="backvideo" autoplay="" loop="" muted="">
					<source src="https://d3hmvhl7ru3t12.cloudfront.net/video/pages/home/header-82b9abce067992beedde6d103b6241d616a7ee97cc0d4f3126277098c2e4b09004325f25c6a245656096bd333c880b0032e2cbdbed9d2514220e20718482e95b.mp4" type="video/mp4">
				</video>

				<div id="bandeau">
					RECHERCHER LES STATISTIQUES D'UN JOUEUR
				</div>

    			<div id="container">
					<div class="content w-25"><p class="filtre">FILTRE:</p>

						<div class="inputs2 block">
							<input type="text" name="BATTLE TAG" placeholder="BATTLE TAG">
							<button id="button2" class="connexion" type="submit">RECHERCHE !</button>
						</div>
					</div>

					<div class="content w-75">
						<p class="filtre">STATISTIQUES:</p>
						<img src="../static/IMAGE/portrait_hanzo.png" id="icone">
					</div>
					
    			</div>
			</div>
		</div>
	
		
	


</body></html>