<html><head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="../static/inscription.css">
        <link href="../static/IMAGE/icone.ico" rel="shortcut icon">
		<title>OVERTEAM</title>
	</head>
	
	<body>

		
		<div id="header">
			
				<a id="button" href="/inscription" class="inscription" type="submit">INSCRIS TOI !</a>

				<a id="button" href="/login" class="connexion" type="submit">CONNEXION !</a>

				<div class="inputs">
					<input type="text" name="login" placeholder="Login">
					<input type="password" name="password" placeholder="Password">
				</div>
			
		</div>
		
		
			<video class="backvideo" autoplay="" loop="" muted="">
						<source src="https://d3hmvhl7ru3t12.cloudfront.net/video/pages/home/header-82b9abce067992beedde6d103b6241d616a7ee97cc0d4f3126277098c2e4b09004325f25c6a245656096bd333c880b0032e2cbdbed9d2514220e20718482e95b.mp4" type="video/mp4">
			</video>
		<div id="titre"><img src="../static/IMAGE/titre2.png"></div>
		
		
		
			<div class="trois  centre">
				
				<div class="noir">
				<div class="ti">CRÉATION DE COMPTE:</div>
				</div></div>


			<div id="blurred10">
			<div class="six noir droite mostly-customized-scrollbar">

				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/2a/PI_Overwatch_Logo_White.png/150px-PI_Overwatch_Logo_White.png?version=0136f4104773bd2baaf7aa39863348b4 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/2a/PI_Overwatch_Logo_White.png/200px-PI_Overwatch_Logo_White.png?version=0136f4104773bd2baaf7aa39863348b4 2x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5c/PI_Overwatch_Logo_Black.png?version=38b0414c8efca833b8353f7e1b712df4 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/56/PI_Warcraft_Illidan.png?version=439227b327d4d74290b7b377c5e713ba 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/be/PI_Overwatch_League.png?version=bef806304f2e233f70f5ae2724e4980f 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0e/PI_Florida_Mayhem.png?version=a8affefed1008694b3143569336a7943 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/4/47/PI_Boston_Uprising.png?version=3964cb98a758e6a733fbd3f5c659f471 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/e9/PI_Dallas_Fuel.png?version=4fa629d9f1071ca86dd4e9ebd6c0b81c 1.5x""
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/85/PI_Houston_Outlaws.png?version=07841400eceed74039189aab8fb12a9b 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/1c/PI_London_Spitfire.png?version=d4fc6700addbaa646650ab3215a7d34e 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/3c/PI_Los_Angeles_Gladiators.png?version=964982909aa2648e312a5439fc65c929 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/37/PI_Los_Angeles_Valiant.png?version=4033833388e977d909eff8f055bb2828 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b4/PI_New_York_Excelsior.png?version=fb4eb7c247aa291cf42b5174c5391d37 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/35/PI_Philadelphia_Fusion.png?version=14bc919439df5142d9cb898f051becd4 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/9f/PI_Anubis.png?version=e32c10deef9f31acb1dd02566749ee06 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/70/PI_Bao.png?version=918b2c040b4fc549431f174d0ebb487c 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b7/PI_Capsule.png?version=3aeb77086f34fd6ddeaa1537178d7f81 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/63/PI_Cheers.png?version=04e30ea64f0c63312c85f50bb55d5143 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/87/PI_Colossus.png?version=68b863b8de2fc2ada625fa8deaf575fb 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/57/PI_Credit.png?version=2357ebb3fd74fc93283d5ab233a6ce95 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/60/PI_Demolition.png?version=d786ac6d0927932fd8f2b148e1df59e2 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a8/PI_Elephant.png?version=25da87c349a8dd7fe58241e12dc986ad 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/4/4b/PI_Happy_Squid.png?version=c5a570ce6c0e843451c91b74032bfdc0 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/25/PI_GL_HF.png?version=322d515ff32a91ae171740d47545dab8 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/7e/PI_Kofi_Aromo.png?version=a59bdcd2def346ba1c4d67c81deddcb1 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/ef/PI_Loot_Box.png?version=80eeb01c20289932c77f2de6615c6f8c 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5c/PI_Lord_of_Candy.png?version=3c1c2a234a7ac67a52f03288c4f24c44 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b0/PI_Los_Muertos.png?version=d9411460c0d3b0663bc35308048c9156 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d8/PI_Mariachi.png?version=84ebccf5a200e1c354db52278db4651d 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/4/4f/PI_Mech.png?version=c282f1836bcfbce2d5619b59637f11e7 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0b/PI_Pachimari.png?version=fdabe5f66f8ed997efa833007bb94ee4 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src=https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5a/PI_Pharaoh.png?version=67fadacd6bd2a69d89d1bf36efefda8b 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/bb/PI_Ramen.png?version=a9cf864825b35687dd86acfc7b232198 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/13/PI_Rhino.png?version=551ff6f05115bc9d96adb0e7d8a2ef44 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/f5/PI_Rikimaru.png?version=d67930d242aaae88db0d287520f2e5d3 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/11/PI_Route_66.png?version=92593ea76b74924ccff49dbefeb1e806 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/14/PI_Sakura.png?version=48951d8732850ae869096f78a1bbb60f 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/6c/PI_Scooter.png?version=3cb54777a23e18c010639dc6a72d5bb8 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/4/49/PI_Siege_Mode.png?version=370c24ac98d66ee5acf8cae1bf86c6d6 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/50/PI_Six-Gun_Killer.png?version=a8908f28dcb9b0f76afd6d14f77d131e 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/8b/PI_Svyatogor.png?version=df2f1571112fb57a439ad723f2bed2a7 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/80/PI_Totem.png?version=989c950350dc3b2e8bb45c7aabbc5d7a 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/51/PI_Training_Bot.png?version=36bd432c10efc32297f5f02b5daef210 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/33/PI_Vivi.png?version=0e9b29e0c1b0ea3ce075cce3ff4560ab 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5a/PI_Mama_Pig%27s.png?version=de0bd99d6d20d25e20abdcd36ae180b3 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/f5/PI_Ana_Face.png?version=5bac49d2c6542c49ff6312cb4ccad3b4 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/28/PI_Ana_Cute_Ana.png?version=7132f17e7ebc0d249b408f4b6e0c1bae 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a8/PI_Ana_Watcher.png?version=940405085a2e5ce6e250e558d1fd8117 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/2f/PI_Ana_Wedjat.png?version=05a94650c363d0f4d31e1187423682fe 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/87/PI_Bastion_Face.png/150px-PI_Bastion_Face.png?version=a279b12d2f9b458a8e9b2a1a9c57fd7c 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/87/PI_Bastion_Face.png/200px-PI_Bastion_Face.png?version=a279b12d2f9b458a8e9b2a1a9c57fd7c 2x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/92/PI_Bastion_Ganymede.png/150px-PI_Bastion_Ganymede.png?version=4349c242253b25bd2f7e88364174ee00 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/92/PI_Bastion_Ganymede.png/200px-PI_Bastion_Ganymede.png?version=4349c242253b25bd2f7e88364174ee00 2x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/74/PI_Bastion_Cute_Bastion.png?version=e3eb2561ab940ab0930cb3220ca558c8 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/49/PI_Bastion_Tank_Crossing.png/150px-PI_Bastion_Tank_Crossing.png?version=1c153d6cee5a691750744a362494b049 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/49/PI_Bastion_Tank_Crossing.png/200px-PI_Bastion_Tank_Crossing.png?version=1c153d6cee5a691750744a362494b049 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b3/PI_Doomfist_Face.png?version=1079c86371a10e857d663cc4ea28bd7a 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/1c/PI_Doomfist_Cute_Doomfist.png?version=652ad8492549e6ba0070e6308ffc504b 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0a/PI_Doomfist_Fist.png?version=f6bb4cbf3dd8e5c5d06a8ae720b5a579 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/96/PI_Doomfist_Initials.png?version=d05c80678b50abc62d7dc4e07c38cfc3 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/de/PI_D.Va_Face.png/150px-PI_D.Va_Face.png?version=81d955c52ae2852f7667cfa6e9050c22 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/de/PI_D.Va_Face.png/200px-PI_D.Va_Face.png?version=81d955c52ae2852f7667cfa6e9050c22 2x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d3/PI_D.Va_Cute_D.Va.png?version=0cb0d8633c95147a7e21bd51b4c4f69e 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/ca/PI_D.Va_Bunny.png/150px-PI_D.Va_Bunny.png?version=052ad07765ef14d22ac93479f98e17ae 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/ca/PI_D.Va_Bunny.png/200px-PI_D.Va_Bunny.png?version=052ad07765ef14d22ac93479f98e17ae 2x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/47/PI_D.Va_Keychain.png/150px-PI_D.Va_Keychain.png?version=266e14b11e9b5595ed8b717b25591aae 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/47/PI_D.Va_Keychain.png/200px-PI_D.Va_Keychain.png?version=266e14b11e9b5595ed8b717b25591aae 2x"
					class="iquinze econe">

				</div>
	<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/07/PI_Genji_Face.png/150px-PI_Genji_Face.png?version=8b904a436132132762a202b4518e1a8e 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/07/PI_Genji_Face.png/200px-PI_Genji_Face.png?version=8b904a436132132762a202b4518e1a8e 2x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/ef/PI_Genji_Cute_Genji.png?version=887d8f9924c82f9a388419ad75d360c3 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/94/PI_Genji_God_of_War.png/150px-PI_Genji_God_of_War.png?version=6f79e4d29009129b35223b25e8480416 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/94/PI_Genji_God_of_War.png/200px-PI_Genji_God_of_War.png?version=6f79e4d29009129b35223b25e8480416 2x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/f7/PI_Genji_Nin.png/150px-PI_Genji_Nin.png?version=958268a84198a0288ac9d2ba6099a2a6 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/f7/PI_Genji_Nin.png/200px-PI_Genji_Nin.png?version=958268a84198a0288ac9d2ba6099a2a6 2x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_Hanzo_Face.png/150px-PI_Hanzo_Face.png?version=f530e4d91889dd762026ce9285c726bb 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_Hanzo_Face.png/200px-PI_Hanzo_Face.png?version=f530e4d91889dd762026ce9285c726bb 2x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/56/PI_Hanzo_Cute_Hanzo.png?version=6b05cf2b3734753ff2d571139bd9d35c 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/c8/PI_Hanzo_Shimada.png/150px-PI_Hanzo_Shimada.png?version=d9292f07b58162494bb2915b011e9618 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/c8/PI_Hanzo_Shimada.png/200px-PI_Hanzo_Shimada.png?version=d9292f07b58162494bb2915b011e9618 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/3/3a/PI_Hanzo_Storm.png/150px-PI_Hanzo_Storm.png?version=da03830cebc947689e4760452c11c5f4 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/3/3a/PI_Hanzo_Storm.png/200px-PI_Hanzo_Storm.png?version=da03830cebc947689e4760452c11c5f4 2x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/3/35/PI_Junkrat_Face.png/150px-PI_Junkrat_Face.png?version=8aa5a634ffc8bd3e1b468d0600a0f355 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/3/35/PI_Junkrat_Face.png/200px-PI_Junkrat_Face.png?version=8aa5a634ffc8bd3e1b468d0600a0f355 2x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/6f/PI_Junkrat_Cute_Junkrat.png?version=3f22e28c8f1e2fff692622f5e83ee2c6 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/f7/PI_Junkrat_Ahhhh%21.png/150px-PI_Junkrat_Ahhhh%21.png?version=78b12dfbe6c31494cea8c7f11826cc9f 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/f7/PI_Junkrat_Ahhhh%21.png/200px-PI_Junkrat_Ahhhh%21.png?version=78b12dfbe6c31494cea8c7f11826cc9f 2x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/86/PI_Junkrat_Have_a_Nice_Day%21.png/150px-PI_Junkrat_Have_a_Nice_Day%21.png?version=b31e8809be4f1795179d42b201bec204 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/86/PI_Junkrat_Have_a_Nice_Day%21.png/200px-PI_Junkrat_Have_a_Nice_Day%21.png?version=b31e8809be4f1795179d42b201bec204 2x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/18/PI_L%C3%BAcio_Face.png/150px-PI_L%C3%BAcio_Face.png?version=c640e3e475941d3450cba63d9a3ae4bf 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/18/PI_L%C3%BAcio_Face.png/200px-PI_L%C3%BAcio_Face.png?version=c640e3e475941d3450cba63d9a3ae4bf 2x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/ce/PI_L%C3%BAcio_Cute_L%C3%BAcio.png?version=5a7f18e719644541a38dedea5adee8a2 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/55/PI_L%C3%BAcio_Frog.png/150px-PI_L%C3%BAcio_Frog.png?version=e31a092161d15674b71c1423419b07a0 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/55/PI_L%C3%BAcio_Frog.png/200px-PI_L%C3%BAcio_Frog.png?version=e31a092161d15674b71c1423419b07a0 2x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/43/PI_L%C3%BAcio_Kamb%C3%B4.png/150px-PI_L%C3%BAcio_Kamb%C3%B4.png?version=55e12804a644ff3d664dfabc41c6481f 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/43/PI_L%C3%BAcio_Kamb%C3%B4.png/200px-PI_L%C3%BAcio_Kamb%C3%B4.png?version=55e12804a644ff3d664dfabc41c6481f 2x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/16/PI_McCree_Face.png/150px-PI_McCree_Face.png?version=eb4dab5672f3cf86371277f09df228df 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/16/PI_McCree_Face.png/200px-PI_McCree_Face.png?version=eb4dab5672f3cf86371277f09df228df 2x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/dc/PI_McCree_Cute_McCree.png?version=4c018a673a1ac9d69b08cb1063fd461c 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/4e/PI_McCree_Badge.png/150px-PI_McCree_Badge.png?version=fa9b6b1929fbf53e56f45a59188e04e6 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/4e/PI_McCree_Badge.png/200px-PI_McCree_Badge.png?version=fa9b6b1929fbf53e56f45a59188e04e6 2x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/92/PI_McCree_Deadeye.png/150px-PI_McCree_Deadeye.png?version=ae2d05fd530fa1e1e05989dca90fde5b 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/92/PI_McCree_Deadeye.png/200px-PI_McCree_Deadeye.png?version=ae2d05fd530fa1e1e05989dca90fde5b 2x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0d/PI_Mei_Face.png/150px-PI_Mei_Face.png?version=a6c5ce72eafa278cdd32d4f75b598625 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0d/PI_Mei_Face.png/200px-PI_Mei_Face.png?version=a6c5ce72eafa278cdd32d4f75b598625 2x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b6/PI_Mei_Cute_Mei.png?version=1f007fada86cd18c45b4569f08a08ccd 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/e/e0/PI_Mei_Hairpin.png/150px-PI_Mei_Hairpin.png?version=e4b79c74502b01d4f9e78da4eb07f79e 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/e/e0/PI_Mei_Hairpin.png/200px-PI_Mei_Hairpin.png?version=e4b79c74502b01d4f9e78da4eb07f79e 2x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d6/PI_Mei_Snowball.png/150px-PI_Mei_Snowball.png?version=37aa81952fe8aa8cef9d9169e23e8ee5 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d6/PI_Mei_Snowball.png/200px-PI_Mei_Snowball.png?version=37aa81952fe8aa8cef9d9169e23e8ee5 2x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/63/PI_Mercy_Face.png/150px-PI_Mercy_Face.png?version=5669ab22849c458d28539142e1cc95a6 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/63/PI_Mercy_Face.png/200px-PI_Mercy_Face.png?version=5669ab22849c458d28539142e1cc95a6 2x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/98/PI_Mercy_Cute_Mercy.png?version=00a4ff01c06763c180ae5ad33e96fe29 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a2/PI_Mercy_Guardian_Angel.png/150px-PI_Mercy_Guardian_Angel.png?version=35b146d4b628645474b5bfaa294ab526 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a2/PI_Mercy_Guardian_Angel.png/200px-PI_Mercy_Guardian_Angel.png?version=35b146d4b628645474b5bfaa294ab526 2x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b2/PI_Mercy_Valkyrie.png/150px-PI_Mercy_Valkyrie.png?version=077ba46d5f90cde2be02aab32db35a25 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b2/PI_Mercy_Valkyrie.png/200px-PI_Mercy_Valkyrie.png?version=077ba46d5f90cde2be02aab32db35a25 2x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b4/PI_Moira_Face.png?version=0a1230088d302170d78bdc2efdbfc933 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/ff/PI_Moira_Cute_Moira.png?version=34deeac8d37ad70e15057a76028f6959 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/3d/PI_Moira_Erlenmeyer.png?version=9409836fc149143eb7b5380084974f9c 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/24/PI_Moira_Knot.png?version=f63152c486c0a89eced86af1fedfd830 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/ae/PI_Orisa_Face.png/150px-PI_Orisa_Face.png?version=91cf9af452a43b2ceda729e653635436 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/ae/PI_Orisa_Face.png/200px-PI_Orisa_Face.png?version=91cf9af452a43b2ceda729e653635436 2x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/f0/PI_Reaper_Cute_Reaper.png?version=4fbb7aea1c4083b69d1ea831ed2bbfa6 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a0/PI_Reaper_Emblem.png?version=89f590147bc5b61ef90760edf40f0927 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/ca/PI_Reaper_Soul.png/150px-PI_Reaper_Soul.png?version=3718c8dcf82c3e2af7721845d2d4d16e 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/ca/PI_Reaper_Soul.png/200px-PI_Reaper_Soul.png?version=3718c8dcf82c3e2af7721845d2d4d16e 2x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/89/PI_Reinhardt_Face.png/150px-PI_Reinhardt_Face.png?version=debda4f5df6b52546ab3ae88cf6f7762 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/89/PI_Reinhardt_Face.png/200px-PI_Reinhardt_Face.png?version=debda4f5df6b52546ab3ae88cf6f7762 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/c1/PI_Reinhardt_Cute_Reinhardt.png?version=899695b713dcd38939f2a562c1eeb2b8 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8a/PI_Reinhardt_Lionhardt.png/150px-PI_Reinhardt_Lionhardt.png?version=7ffca2ea3abc1b5cfa123ae9ae2424b8 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8a/PI_Reinhardt_Lionhardt.png/200px-PI_Reinhardt_Lionhardt.png?version=7ffca2ea3abc1b5cfa123ae9ae2424b8 2x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d2/PI_Reinhardt_Scar.png/150px-PI_Reinhardt_Scar.png?version=1422a781a045dbaa584e8c83a9cc5bdf 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d2/PI_Reinhardt_Scar.png/200px-PI_Reinhardt_Scar.png?version=1422a781a045dbaa584e8c83a9cc5bdf 2x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/1e/PI_Roadhog_Face.png/150px-PI_Roadhog_Face.png?version=fb75f687bc59838440181e6476ca3a31 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/1e/PI_Roadhog_Face.png/200px-PI_Roadhog_Face.png?version=fb75f687bc59838440181e6476ca3a31 2x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d5/PI_Roadhog_Cute_Roadhog.png?version=c04f1356438075d8c6bcc7c39a1be2ff 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/9d/PI_Roadhog_Hook.png/150px-PI_Roadhog_Hook.png?version=f60946c0f1cb76c1c0c789eb25b799fe 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/9d/PI_Roadhog_Hook.png/200px-PI_Roadhog_Hook.png?version=f60946c0f1cb76c1c0c789eb25b799fe 2x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/85/PI_Roadhog_Piggy.png/100px-PI_Roadhog_Piggy.png?version=6bf800665240d0ca53091e27cf15bea3"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/55/PI_S76_Face.png/100px-PI_S76_Face.png?version=db9bcd60dfaea6faf38fbbe2e4008589"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b8/PI_S76_Cute_Soldier_76.png?version=bcd1a81a59de17525d6f2feedfb2fa0f 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/42/PI_S76_76.png/100px-PI_S76_76.png?version=4da2e3d046326c2b572ae2c6ab38b28b"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8b/PI_S76_Strike-Commander.png/100px-PI_S76_Strike-Commander.png?version=81c264efacb82d30b7a1041c873ade8d" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8b/PI_Sombra_Face.png/100px-PI_Sombra_Face.png?version=fb48fb4504e2bf9fa23c78810633e193"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/e/eb/PI_Sombra_Cute_Sombra.png/100px-PI_Sombra_Cute_Sombra.png?version=0daedf9f979cdbde3d47f312a38676d3"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/03/PI_Sombra_Hacker.png?version=ba4914557719701ec51d875786b3ebcd 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/57/PI_Sombra_Skull.png?version=8e0e7f4e5522ffcc6390be2b60c59874 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d1/PI_Symmetra_Face.png/150px-PI_Symmetra_Face.png?version=849eae2e602f77d275571fec2f729428 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d1/PI_Symmetra_Face.png/200px-PI_Symmetra_Face.png?version=849eae2e602f77d275571fec2f729428 2x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a7/PI_Symmetra_Cute_Symmetra.png?version=2dda892b69e1b3cc36fd6aebbfccafcc 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a5/PI_Symmetra_Sentry.png/150px-PI_Symmetra_Sentry.png?version=dfccb75b301e6fa51994b61703bac216 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a5/PI_Symmetra_Sentry.png/200px-PI_Symmetra_Sentry.png?version=dfccb75b301e6fa51994b61703bac216 2x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/57/PI_Symmetra_Vishkar.png/150px-PI_Symmetra_Vishkar.png?version=85b505ca166743f1aa21b1b8a829295c 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/57/PI_Symmetra_Vishkar.png/200px-PI_Symmetra_Vishkar.png?version=85b505ca166743f1aa21b1b8a829295c 2x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/00/PI_Torbj%C3%B6rn_Face.png/150px-PI_Torbj%C3%B6rn_Face.png?version=84fc026a6bc14713245a4e101dfdc70d 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/00/PI_Torbj%C3%B6rn_Face.png/200px-PI_Torbj%C3%B6rn_Face.png?version=84fc026a6bc14713245a4e101dfdc70d 2x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d4/PI_Torbj%C3%B6rn_Cute_Torbj%C3%B6rn.png?version=7a75ceb47bdc90844f07dbc28a002d15 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/eb/PI_Torbj%C3%B6rn_Forge.png?version=e1502b3a7ca24885b8ab09288bd4189c 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b7/PI_Torbj%C3%B6rn_Gears.png?version=b999be779fb5ea2b2e4a415b0e6408b7 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/62/PI_Tracer_Face.png/150px-PI_Tracer_Face.png?version=cacf68573c4d3bb84597488c20fb60bc 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/62/PI_Tracer_Face.png/200px-PI_Tracer_Face.png?version=cacf68573c4d3bb84597488c20fb60bc 2x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/9e/PI_Tracer_Cute_Tracer.png?version=0ab393f93a00b031237922d0bad8d926 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/5d/PI_Tracer_Patch.png/150px-PI_Tracer_Patch.png?version=85249568ff946e7e6b03bb8f5a434570 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/5d/PI_Tracer_Patch.png/200px-PI_Tracer_Patch.png?version=85249568ff946e7e6b03bb8f5a434570 2x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/61/PI_Tracer_Pulse_Bomb.png/150px-PI_Tracer_Pulse_Bomb.png?version=80061f27fa4fc9d8cc2f333d4ef03e6e 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/61/PI_Tracer_Pulse_Bomb.png/200px-PI_Tracer_Pulse_Bomb.png?version=80061f27fa4fc9d8cc2f333d4ef03e6e 2x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/09/PI_Widowmaker_Face.png/100px-PI_Widowmaker_Face.png?version=613b78636c2c745d047b4ed4a04f45f5"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/2a/PI_Widowmaker_Cute_Widowmaker.png?version=02f49f3b2b8e3566bdd4cac38599ba25 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/85/PI_Widowmaker_Baiser.png/150px-PI_Widowmaker_Baiser.png?version=54010dbed8e190b9fc162f5b0e7abde1 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/85/PI_Widowmaker_Baiser.png/200px-PI_Widowmaker_Baiser.png?version=54010dbed8e190b9fc162f5b0e7abde1 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8d/PI_Widowmaker_Grappling_Hook.png/150px-PI_Widowmaker_Grappling_Hook.png?version=a8be336529db5e6a24e6cc90f0ca278e 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8d/PI_Widowmaker_Grappling_Hook.png/200px-PI_Widowmaker_Grappling_Hook.png?version=a8be336529db5e6a24e6cc90f0ca278e 2x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/6a/PI_Winston_Face.png/150px-PI_Winston_Face.png?version=452032cd0ce758f2356cba429ccd8dcc 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/6/6a/PI_Winston_Face.png/200px-PI_Winston_Face.png?version=452032cd0ce758f2356cba429ccd8dcc 2x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/29/PI_Winston_Cute_Winston.png?version=5aef2c23cf7edaa14fe918f1031c74b1 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/fc/PI_Winston_Lunar_Ops.png/150px-PI_Winston_Lunar_Ops.png?version=147591698bef6efc77ac536e86139f0a 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/fc/PI_Winston_Lunar_Ops.png/200px-PI_Winston_Lunar_Ops.png?version=147591698bef6efc77ac536e86139f0a 2x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a4/PI_Winston_Peanut_Butter.png/150px-PI_Winston_Peanut_Butter.png?version=e5cef83744f8ec32d3ea23204d999621 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a4/PI_Winston_Peanut_Butter.png/200px-PI_Winston_Peanut_Butter.png?version=e5cef83744f8ec32d3ea23204d999621 2x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/dd/PI_Zarya_Face.png/150px-PI_Zarya_Face.png?version=ac4336c69c800ca31758b1f4c419bb73 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/dd/PI_Zarya_Face.png/200px-PI_Zarya_Face.png?version=ac4336c69c800ca31758b1f4c419bb73 2x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/87/PI_Zarya_Cute_Zarya.png/100px-PI_Zarya_Cute_Zarya.png?version=5bd77174e8ab4e74a66a9539c34f92e8"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/24/PI_Zarya_512.png?version=4d55c9a0c2296863f67035a7ca60fb06 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_Zarya_Particle_Barrier.png/150px-PI_Zarya_Particle_Barrier.png?version=d04b7a0214cc5a7f8189176679743ea5 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_Zarya_Particle_Barrier.png/200px-PI_Zarya_Particle_Barrier.png?version=d04b7a0214cc5a7f8189176679743ea5 2x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b3/PI_Zenyatta_Face.png/150px-PI_Zenyatta_Face.png?version=4d73fcbeace04040605cba9e03a738a7 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b3/PI_Zenyatta_Face.png/200px-PI_Zenyatta_Face.png?version=4d73fcbeace04040605cba9e03a738a7 2x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a0/PI_Zenyatta_Cute_Zenyatta.png/100px-PI_Zenyatta_Cute_Zenyatta.png?version=84b001c80609052f62527324158aee61" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a8/PI_Zenyatta_Harmony.png/150px-PI_Zenyatta_Harmony.png?version=93634291757beca63ac782c7e583241a 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a8/PI_Zenyatta_Harmony.png/200px-PI_Zenyatta_Harmony.png?version=93634291757beca63ac782c7e583241a 2x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/16/PI_Zenyatta_Meditation.png/150px-PI_Zenyatta_Meditation.png?version=005aef959225712d3cce73dafc3ff831 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/1/16/PI_Zenyatta_Meditation.png/200px-PI_Zenyatta_Meditation.png?version=005aef959225712d3cce73dafc3ff831 2x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/4f/PI_D.Va_Law.png/100px-PI_D.Va_Law.png?version=684cc94ac5a23830cbc2e4355feb5f9b"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/eb/PI_Genji_Oni.png?version=88bfaa1664f0fa9651696ee4554ce936 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/e1/PI_Summer_Games.png?version=fd527ad756a9806d18dbd8b380cb86f5 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0c/PI_Summer_Games_2017.png?version=cd48cd49b62c274b0e8f7759959e34ad 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/89/PI_Australia.png?version=aa68782ec613861ba923287b99302f6a 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0d/PI_Brazil.png?version=e38993514a18aaf9361b3fda99d2ac2f 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/72/PI_China.png?version=ba8629e7f733262efa27f9e47aceb295 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0d/PI_Egypt.png?version=8c59a4265c9bb201f5c38c6d0edf6200 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/c9/PI_France.png?version=24caaf602aabb6024b3a2cfffe6f02bc 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/27/PI_Germany.png?version=87399b298c402985b8b4a54cc0d881c9 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/c0/PI_Greece.png?version=00cdfc103a813b8ee46fb8bba2a6fbf2 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/81/PI_Japan.png?version=523898a15b40bbc3ba5e52360103a910 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/eb/PI_Mexico.png?version=438c4e894260b680aa2d1f05dc06e4cb 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/7f/PI_Nepal.png?version=45a329ac6f74bd78aa27e300f0fc736b 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/67/PI_Numbani.png?version=a9ef3cdc69fbfcb54b1ad0f06380c7f7 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/35/PI_Russia.png?version=9484d6d0d26cab4a276a5c562919cfb5 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0e/PI_South_Korea.png?version=33a3ad5c157078e9f92d6f7def438f37 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b2/PI_Sweden.png/100px-PI_Sweden.png?version=fb472ce529d0fb857ed97a088be1f2da" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/c/c4/PI_Switzerland.png/100px-PI_Switzerland.png?version=b32816ebf968364ba5227a7f6ab47730"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/37/PI_United_Kingdom.png?version=d33cdf0917f5bdb2ee1982dce54354d4 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/a/a2/PI_United_States_of_America.png/100px-PI_United_States_of_America.png?version=de1894672983b39ff84071691d460900"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b7/PI_Copa_L%C3%BAcioball_Hero.png?version=605ef2fd56a711f9b8fca4b953f0a1ee 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/67/PI_Copa_L%C3%BAcioball_Competitor.png?version=fe048189af2dd5dc3a05ecf3b96e0821 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/8/8c/PI_Hanzo_Archery.png?version=8cfbae946ea3631aa477c29f63bfaa44 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5c/PI_Mercy_Badminton.png?version=27f4aa482c7141c9cb371da50301ae04 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/6f/PI_Pharah_Basketball.png?version=b0085d2fd8bf49db68f8e111f86fd7c8 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/c1/PI_Reaper_BMX.png?version=e619449726f67d84a09567e4f9b1e939 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/3a/PI_Bastion_Boxing.png?version=6ab75714b1a25ef57dce654871fd5f6c 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/74/PI_D.Va_Cycling.png?version=948cbb37d39abc659b77f29c844acc71 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/fa/PI_Roadhog_Diving.png?version=f27b22e5e36bba012415f3b04997f43e 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/00/PI_McCree_Equestrian.png?version=7f298153bd63e0161db5915df3842d5e 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/59/PI_Genji_Fencing.png?version=533399d6d7593726c54d4a4ce707fcf4 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/25/PI_L%C3%BAcio_Football.png?version=04e3e60c2099f89e6e3b4a8741d394df 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/f2/PI_S76_Golf.png?version=04786986bb52ee3736b78961a4972d4b 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/95/PI_Widowmaker_Gymnastics.png?version=436bbc08c17941d8209d2cc810d0c42c 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/1e/PI_Sombra_High_Jump.png?version=f8aeda86c6c3350ad4230bd2e7a409f0 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/bc/PI_Orisa_Javelin.png?version=2f078de8b04344501fa4b60917bb1c0f 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d2/PI_Symmetra_Rhythmic_Gymnastics.png?version=893494bd69ff13236fe15ebd2059f5cb 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/02/PI_Ana_Shooting.png?version=7328796e7d9c774a75051b267c8b5f25 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/c8/PI_Doomfist_Shotput.png?version=85aa45a79f24bf0a0e6758ac2ee852a7 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/ec/PI_Mei_Table_Tennis.png?version=0549713918e87d47f38072ce189d86da 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/db/PI_Zenyatta_Taekwondo.png?version=0e24b132efbff4621df6b9939fa7bc05 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/e3/PI_Junkrat_Tennis.png?version=781f1b525749dd7571d0521f849734a9 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/7b/PI_Tracer_Track.png?version=2b697f91b790f90b2c9039accec8f13a 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/d2/PI_Winston_Volleyball.png?version=57f750cd1ec5c2e858c17b889172c3b6 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/e/ed/PI_Torbj%C3%B6rn_Water_Polo.png?version=562380fc439533b4dbe74970f02e4ec4 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/bd/PI_Zarya_Weightlifting.png?version=fdaf6f90fc106a7fe0e642589563ba35 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b2/PI_Reinhardt_Wrestling.png?version=73f7f50724d9e0c05a2e79b8c635e380 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/1/1f/PI_Anniversary_2017.png?version=fd7cbcd258176a4010a628d1adb98c3c 1.5x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/39/PI_Ana_Anaversary.png?version=b8851def0321bc389ef7b492df6788ad 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a7/PI_Sombra_Aniversario.png?version=02d4e254c96353a0db62405948eea62e 1.5x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/32/PI_Pharah_Anniversareeha.png?version=6b48b47e6182acfbfb07efb1936ab607 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/6/63/PI_Orisa_Aurisa.png?version=24fc219410b4d66a10a4be732fde0546 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/59/PI_Tracer_Auxton.png?version=64e4772040c183aca77f62f2744fdd58 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/36/PI_Widowmaker_D%27or.png?version=3e6d61c8f5a87d3c4a06cdaaf32348df 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/94/PI_McCree_GAMF.png?version=678847ddce3132fad2d0a3b462a5111b 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/37/PI_S76_Gold_Soldier.png?version=7ebf14958654c7d39480b13e84455ed3 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b7/PI_Genji_Goldborg.png?version=a22141801d54fb24431d802ce9888863 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/c/ca/PI_Bastion_Goldbot.png?version=501d808192181b4ba9c08a360825f3fa 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/26/PI_Torbj%C3%B6rn_Goldclad.png?version=1f802b93145c65062e1e39313b3df3e8 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/0/0e/PI_Reinhardt_Goldhardt.png?version=bc0d0fa25a791720412d0763e716f5d2 1.5x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/7/72/PI_Roadhog_Goldhog.png?version=5880c985a8d09d4ad16971c1dfd4f186 1.5x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/24/PI_Junkrat_Goldrat.png?version=03825104976fe0f39f4d3a7a3f0c91e9 1.5x" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/5c/PI_Winston_Goldrilla.png/100px-PI_Winston_Goldrilla.png?version=9b781297b7affb542fd208cae4ff2af4"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/29/PI_D.Va_Hanaversary.png?version=ab8ce2433f391a0c6948ee751983b295 1.5x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b2/PI_Mercy_Jahrestag.png?version=6ac644e9878c1ec1b73e2ef1592e4668 1.5x"
					class="ionze econe">

					<img src=https://gamepedia.cursecdn.com/overwatch_gamepedia/3/39/PI_Hanzo_Kinenbi.png?version=78cd6f329fc5b91e09ccc05e99026ef0 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a9/PI_L%C3%BAcio_L%C3%BAciouro.png?version=d93912e7bf2b307ac1aae1f7c9ba1a50 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/52/PI_Mei_May.png?version=75ec88a47cdcff0ab442b8f6b9de722f 1.5x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/bc/PI_Pachiversary.png?version=5e3670f777b301fa5e399990d9cca93b 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b8/PI_Reaper_Reapiversary.png?version=abe7b74cb52bd81565585a82dd66b62a 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/a/a7/PI_Symmetra_Vaswanniversary.png?version=c42c364c4bd2a46d881b288f5a2b3afc 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/9/97/PI_Zarya_Zaryanoversary.png?version=c5f3b424a4f0e06d645e4d1e7c981dc3 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/8/8b/PI_Zenyatta_Zeniversary.png/100px-PI_Zenyatta_Zeniversary.png?version=6d582ef6a63fe0be1d6a2ae770b6eef4"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/4c/PI_Warcraft_Alliance.png/150px-PI_Warcraft_Alliance.png?version=aaa9b3fac9d99dcd0246cda6d5e6622c 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/4/4c/PI_Warcraft_Alliance.png/200px-PI_Warcraft_Alliance.png?version=aaa9b3fac9d99dcd0246cda6d5e6622c 2x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0d/PI_Warcraft_Horde.png/150px-PI_Warcraft_Horde.png?version=dfadaaa99f98759ce32321b930a6f87d 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0d/PI_Warcraft_Horde.png/200px-PI_Warcraft_Horde.png?version=dfadaaa99f98759ce32321b930a6f87d 2x"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/55/PI_Warcraft_Sylvanas_Windrunner.png/150px-PI_Warcraft_Sylvanas_Windrunner.png?version=e325af102bade72543fc30e37a714254 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/5/55/PI_Warcraft_Sylvanas_Windrunner.png/200px-PI_Warcraft_Sylvanas_Windrunner.png?version=e325af102bade72543fc30e37a714254 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/9/9c/PI_Warcraft_Garrosh_Hellscream.png/100px-PI_Warcraft_Garrosh_Hellscream.png?version=0e8ac160c3df586016a06378fe6b4698" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d6/PI_Warcraft_Jaina_Proudmoore.png/100px-PI_Warcraft_Jaina_Proudmoore.png?version=284e6885eb20cd4b3f6446936922bf59"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/de/PI_Warcraft_Lich_King.png/150px-PI_Warcraft_Lich_King.png?version=1eed37b01dc8cac61eed52fa7fa49f06 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/de/PI_Warcraft_Lich_King.png/200px-PI_Warcraft_Lich_King.png?version=1eed37b01dc8cac61eed52fa7fa49f06 2x"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0a/PI_Warcraft_Varian_Wrynn.png/150px-PI_Warcraft_Varian_Wrynn.png?version=97a16a537c76c077a214f14ff01ad6e7 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/0a/PI_Warcraft_Varian_Wrynn.png/200px-PI_Warcraft_Varian_Wrynn.png?version=97a16a537c76c077a214f14ff01ad6e7 2x"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/bb/PI_Kul_Tiras.png?version=6d7891fc1402bb30ff2cc1f448d030fa 1.5x"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/2/26/PI_Zandalar.png?version=f43b5fa7fec17e77f7a0a57e9c205adb 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/2d/PI_Diablo_Diablo.png/100px-PI_Diablo_Diablo.png?version=c66b05b9f7439a41d90198c3c5fe0699"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/3/39/PI_Diablo_Barbarian.png?version=6135f61f05adf79d3de97c6b2f614ca1 1.5x"
					class="iquinze econe">

				</div>
				<div class="df">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b1/PI_Diablo_Crusader.png?version=75fe894b14e8f1be852d17e85815b111 1.5x"
					class="iun econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/d/da/PI_Diablo_Demon_Hunter.png?version=16134ab4feb45b3e65d23747baf3e445 1.5x"
					class="ideux econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/f/fa/PI_Diablo_Monk.png?version=b7a5746f102bca4c0fe443ee8e224a63 1.5x" class="itrois econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b5/PI_Diablo_Witch_Doctor.png?version=64183fccde17e9f388aaac4bf7b1266e 1.5x"
					class="iquatre econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/5a/PI_Diablo_Wizard.png?version=fb188971ec24606d9379ce42f40a6e70 1.5x"
					class="icinq econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/dd/PI_Diablo_Dark_Wanderer.png/100px-PI_Diablo_Dark_Wanderer.png?version=9e3d4d060e4f67bf5e245b170d67b23b"
					class="isix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b2/PI_StarCraft_Protoss.png/150px-PI_StarCraft_Protoss.png?version=e5484560323f166ed3e5b540a6673e0f 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/b2/PI_StarCraft_Protoss.png/200px-PI_StarCraft_Protoss.png?version=e5484560323f166ed3e5b540a6673e0f 2x"
					class="isept econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/29/PI_StarCraft_Terran.png/100px-PI_StarCraft_Terran.png?version=a2547e2e382400f742d74c4fd5d40f25" class="ihuit econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d5/PI_StarCraft_Zerg.png/150px-PI_StarCraft_Zerg.png?version=0073b3257d9907ae7e1d22df21309647 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/d/d5/PI_StarCraft_Zerg.png/200px-PI_StarCraft_Zerg.png?version=0073b3257d9907ae7e1d22df21309647 2x"
					class="ineuf econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/f6/PI_StarCraft_Dominion.png/100px-PI_StarCraft_Dominion.png?version=7d202670b28849bbe27a60ea7c5f77ae"
					class="idix econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/f/fd/PI_StarCraft_Hierarch.png/100px-PI_StarCraft_Hierarch.png?version=1277108c2b98a1ee731a0b211bc7bf10"
					class="ionze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/b/bd/PI_StarCraft_Jim.png/100px-PI_StarCraft_Jim.png?version=ae9157fafdf22cdde0740d4cceb2cefd"
					class="idouze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/5/54/PI_StarCraft_Kerrigan.png?version=2dab91250ce1f21bed7ac89b1e087e89 1.5x"
					class="itreize econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/06/PI_Hearthstone_Logo.png/150px-PI_Hearthstone_Logo.png?version=aec98fb21f5ae17765bfe2aa68172dd0 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/0/06/PI_Hearthstone_Logo.png/200px-PI_Hearthstone_Logo.png?version=aec98fb21f5ae17765bfe2aa68172dd0 2x"
					class="iquatorze econe">

					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_HotS_Nexus.png/150px-PI_HotS_Nexus.png?version=299e2082177c9bd767e7bc80b4e62531 1.5x, https://gamepedia.cursecdn.com/overwatch_gamepedia/thumb/2/23/PI_HotS_Nexus.png/200px-PI_HotS_Nexus.png?version=299e2082177c9bd767e7bc80b4e62531 2x"
					class="iquinze econe">

				</div>
			</div>
		</div>







		<div id="blurred11 ">
	<div class="sept noir centre j ">
				<div class="inputs5 fro ">
					<div class="aa fa fri fro">
					<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b1/PI_Diablo_Crusader.png?version=75fe894b14e8f1be852d17e85815b111 1.5x"
					class="econa fdeux">
					<input type="text" class="fun rac" name="pseudo" placeholder="Pseudo">
					</div>
					<input type="text" class="fun" name="mail" placeholder="Mail">
					<input type="password" class="fun" name="password" placeholder="Password">
					<input type="password" class="fun" name="confirPassword" placeholder="Confirm Password">
					<div class="fun filtra"> LIER A UN COMPTE BALLTE.NET</div>
					<div class="aa grogro">
						<input type="text" class="ftrois" name="mail" placeholder="BATTLE TAG">
						<a href="..." class="fun gragra wx" type="submit">LIER</a>
					</div>
					<p class="filtra">$Afficher le nom du compte battle.net si la liaison à été faite</p>

				</div>
			
				<div class="grid  rac gragra"><a href="..." class="wxa" type="submit">S'INSCRIRE</a>
							</div>


				

</div>
				
			
				<div id="blurred">
		
					</div>	

						
		</div>
	
		
	


</body></html>