<html><head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/moncompte.css">
	<link href="../static/IMAGE/icone.ico" rel="shortcut icon">
	<title>OVERTEAM</title>
</head>

<body>


	<div id="header">

		<a id="button" href="/inscription" class="inscription" type="submit">INSCRIS TOI !</a>

		<a id="button" href="/login" class="connexion" type="submit">CONNEXION !</a>

		<div class="inputs">
			<input type="text" name="login" placeholder="Login">
			<input type="password" name="password" placeholder="Password">
		</div>

	</div>


	<video class="backvideo" autoplay="" loop="" muted="">
		<source src="https://d3hmvhl7ru3t12.cloudfront.net/video/pages/home/header-82b9abce067992beedde6d103b6241d616a7ee97cc0d4f3126277098c2e4b09004325f25c6a245656096bd333c880b0032e2cbdbed9d2514220e20718482e95b.mp4" type="video/mp4">
		</video>
		<div id="titre"><img src="../static/IMAGE/titre2.png"></div>
		
		<div id="blurred">
			
			<div class="un noir gauche">
				
				<a href="/logout" class="deconnexion" type="submit">CRÉER UN ENTRAINEMENT</a>
			</div>

			<div class="trois  centre">
				<div class="noir">
					<div class="ti">MON COMPTE</div>
				</div>
				<div class="ww noir">
					<div class="inputs5 fro ">
						<div class="fa fri fro">
							<img src="https://gamepedia.cursecdn.com/overwatch_gamepedia/b/b1/PI_Diablo_Crusader.png?version=75fe894b14e8f1be852d17e85815b111 1.5x" class="econa fdeux">
						</div>
						<div class="aaaa">
							<div class="haha filtre">PSEUDO: </div>
							<div class="hoho filtre">$PSEUDO</div>
						</div>
						<div class="aaaa">
							<div class="haha filtre">MAIL: </div>
							<div class="hoho filtre">$MAIL</div>
						</div>
						<div class="aaaa">
							<div class="haha filtre">MOT DE PASSE: </div>
							<div class="hoho filtre" type="password">$MOTDEPASSE</div>
						</div>
						<div class="aaaa">
							<div class="haha filtre">COMPTE BATTLE.NET: </div>
							<div class="hoho filtre">$BATTLE.NET</div>
						</div>

					</div>

					<div class="grid  rac gragra marginG "><a href="..." class="wxa " type="submit">MODIFIER</a>
					</div>		
				</div>
				

				
			</div>
			<div class=" cinqa noirr ">
				
				<a href="..." class="deconnexion" type="submit">CRÉER UN MATCH</a>
			</div>
		</div>	

		<div id="blurred10">
	
			<div class="septa">
				<div class="noirrr">
					<a href="..." class="deconnexion" type="submit">CRÉER UNE ÉQUIPE</a>
				</div>
			</div>
		</div>
		<div class="iki">
			<div class="inline">
				<div class="noira  tun rgrg mostly-customized-scrollbar">
					<div class="ti underline pe1">MES ENTRAINEMENTS:</div>
				

					<div class="violet">
						<div class="filtrea">ENTRAINEMENT N°1</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">EQUIPE:</div>
							<div class="inlinea">
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
					</div>

					<div class="violet">
						<div class="filtrea">ENTRAINEMENT N°2</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">EQUIPE:</div>
							<div class="inlinea">
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
					</div>

	
					<div class="violet">
						<div class="filtrea">ENTRAINEMENT N°3</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">EQUIPE:</div>
							<div class="inlinea">
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
					</div>

	
					<div class="violet">
						<div class="filtrea">ENTRAINEMENT N°4</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">EQUIPE:</div>
							<div class="inlinea">
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR6</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
					</div>


				</div>
				<div class="noira  tdeux rgrg mostly-customized-scrollbar">
					<div class="ti underline pe1">MES MATCHS:</div>
				

					<div class="violet">
						<div class="filtrea">MATCH N°1</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						
						<div class="bleu">
							<div class="filtrea">EQUIPE 1:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
								<div class="rouge">
									<div class="filtrea">EQUIPE 2:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
					</div>
					<div class="violet">
						<div class="filtrea">MATCH N°2</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						
						<div class="bleu">
							<div class="filtrea">EQUIPE 1:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
								<div class="rouge">
									<div class="filtrea">EQUIPE 2:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
					</div>
					<div class="violet">
						<div class="filtrea">MATCH N°3</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						
						<div class="bleu">
							<div class="filtrea">EQUIPE 1:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
								<div class="rouge">
									<div class="filtrea">EQUIPE 2:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
					</div>
					<div class="violet">
						<div class="filtrea">MATCH N°4</div>
						<div id="trait_dessus"><hr class="violeta"> </div>
						<div class="filtrea">LE: $DATE de $TIME1 à $TIME2</div>
						
						<div id="trait_dessus"><hr class="violeta"> </div>
						
						<div class="bleu">
							<div class="filtrea">EQUIPE 1:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
								<div class="rouge">
									<div class="filtrea">EQUIPE 2:</div>
							<div class="inlinea">
								
								<img src="../static/IMAGE/fond.jpg" class="rondb zz e111">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e1">							
								<div class="joueur e11 filtrea">$JOUEUR1</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e222 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e2">								
								<div class="joueur e22 filtrea">$JOUEUR2</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e333">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e3">								
								<div class="joueur e33 filtrea">$JOUEUR3</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e444 ">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e4">							
								<div class="joueur e44 filtrea">$JOUEUR4</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e555">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e5">								
								<div class="joueur e55 filtrea">$JOUEUR5</div>

								<img src="../static/IMAGE/fond.jpg" class="rondb zz e666">
								<img src="../static/IMAGE/fond.jpg" class="personnageb w1 hero e6">								
								<div class="joueur e66 filtrea">$JOUEUR6</div>
							</div>
							</div>
					</div>
					</div>


					


				</div>
			</div>
			</div>	
			



			


		






	</body></html>